.check-list-ey{
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 10%;
    /*height: auto;*/
    width: 60%;
    margin-top: 3rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.check-list-ey  h2{
    padding: 0rem 2rem 0rem 2rem;
    font-weight: 800;
}

.check-list-ey h4{
    font-weight: 400;
    padding: 0rem 2rem 2rem 2rem;
}

.check-list-ey .btn-check-ey{
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
    background-color: #0014C4 !important;
    border: none;
    color: white;
    height: 4rem;
    cursor: pointer;
}

.btn-check-ey-2{
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
    border: none;
    color: white;
    height: 4rem;
    align-self: flex-end;
    opacity: 0.8;
    background-color: #000000;
    cursor: pointer;
}

.check-ind-ey {
    border: 1px solid #979797;
    max-height: 75vh;
}
.check-ind-ey h4{
    padding: 1rem 2rem 0rem 2rem !important;
    font-weight: 700 !important
}
.check-ind-ey h6{
    padding: 1rem 6rem 1rem 2rem !important;
}

.act-btn-ey{
    padding: 0rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-badge {
    float: right;
    padding-right: 2rem !important;
}

.ant-badge sup{
    margin-right: 2rem !important;
}

.btn-lg-ey{
    height: 3rem !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    background-color: #0014C4 !important;
}
.ant-form-item{
    margin-bottom: 0px !important;
}

.check-box{
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 0.5rem;
}
.edit-box{
    opacity: 0.8;
    background: linear-gradient(90deg, #7A7A7A 0%, #000000 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.edit-box-heading{
    color: #FFFFFF;
    font-family: "GT America", serif;
    font-size: 17px;
    font-weight: 500;
    padding: 2rem 2rem 2rem 2rem;
}

.edit-box-text{
    color: #FFFFFF;
    font-family: "GT America", serif;
    padding: 2rem 2rem 0 2rem;
}

.edit-input{
    width: 100%;
    overflow-y : scroll;
    font-size: 14px;
}

.edit-input textarea {
    color: white;
    padding: 0 2rem 0 2rem;
}

.line-2 {
    box-sizing: border-box;
    height: 1px;
    width: 378px;
    border: 1px solid #979797;
    opacity: 0.2;
}

