.toolbar{
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

#point{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}

.icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgba(80,227,194,0.75);
  margin-bottom: 20px;
}



